@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,600,500,600,700,800,900$display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner.tour:not(.active) {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.banner.about .banner__content--home,
.banner.active .banner__content--home,
.banner.contact .banner__content--home,
.banner.tour .banner__content--home {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 0s;
}

.banner.about .banner__content--about {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
  transition-delay: 1s;
}

.banner.about .banner__glass {
  width: 40%;
  right: 0;
  left: auto;
  box-shadow: -10px 0 15px rgba(0, 0, 0, 0.5);
}
.banner.active .banner__content--tour,
.banner.active .banner__content--about {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 0s;
}

.banner.active .banner__glass {
  top: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(20px);
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
  transition-delay: 0s;
}

.banner.active .banner__socialM--li {
  opacity: 0;
  visibility: hidden;
  transform: translateY(200px);
}

.banner.active .banner__navigation--li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.banner.contact:not(.active) .banner__glass {
  width: 100%;
  height: 50%;
  right: auto;
  left: auto;
  top: auto;
  bottom: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.banner.tour:not(.active) .banner__content--tour {
  opacity: 1;
  visibility: visible;
  transform: translateX(-12%);
  transition-delay: 1s;
}

.banner.tour:not(.active) .banner__glass {
  width: 100%;
  right: auto;
  left: auto;
  top: 50%;
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.8);
}

.banner__content {
  position: relative;
  z-index: 3;
  text-align: center;
  transition: 500ms;
  transition-delay: 1s;
}

.banner__content--home {
  position: relative;
  color: #fff;
  font-size: 10vw;
  line-height: 0.55em;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-family: "Dancing Script", cursive;
  transition: 500ms;
  transition-delay: 1s;
}

.banner__content--home-span {
  font-size: 2vw;
  letter-spacing: 0.5vw;
  text-transform: uppercase;
}

.banner__content--about {
  position: absolute;
  top: -3vw;
  left: 0;
  transition: 500ms;
  transition-delay: 1s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 1s;
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

.banner__content--about-img {
  position: absolute;
  height: 70%;
  bottom: 70%;
  right: 1%;
  filter: sepia(1);
  opacity: 1;
  border-radius: 50%;
  transition: 500ms;
  cursor: pointer;
}

.banner__content--about-img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.banner__content--about-img:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  transition: 100ms;
}

.banner__content--about-p {
  color: #fff;
  font-size: 2vw;
  text-align: right;
}

.banner__content--about-title {
  color: #fff;
  font-size: 10vw;
  line-height: 1em;
  font-family: "Dancing Script", cursive;
  text-align: left;
}

.banner__content--tour {
  position: absolute;
  top: -5vw;
  left: 0;
  transition: 500ms;
  transition-delay: 1s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-200px);
  transition-delay: 1s;
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.6);
}

.banner__content--tour-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  padding: 50px 0;
  transform-style: preserve-3d;
}

.banner__content--tour-p {
  color: #fff;
  font-size: 2vw;
  text-align: right;
  width: max-content;
}

.banner__content--tour-title {
  color: #fff;
  font-size: 10vw;
  line-height: 1em;
  font-family: "Dancing Script", cursive;
  text-align: left;
}

.banner__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4vw 7vw;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__header--logo {
  position: relative;
  font-size: 2vw;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  transition: 500ms;
}

.banner__header--toggle {
  position: relative;
  width: 4vw;
  height: 4vw;
  background-image: url(./assets/icons/menu.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}

.banner__header--toggle.active {
  background-image: url(./assets/icons/close.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 25px;
  transition: 500ms;
}

.banner__header--toggle::before {
  content: "menú";
  position: absolute;
  right: 4vw;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1vw;
  padding: 2px 5px;
  background-color: #fff;
  color: #111;
  transition: 500ms;
}

.banner__header--toggle.active::before {
  content: "cerrar";
  transition: 500ms;
}

.banner__glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 2;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.5);
  transition: 500ms;
  transition-delay: 1s;
}

.banner__navigation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.banner__navigation--li {
  list-style: none;
  text-align: center;
  margin: 15px 0;
  opacity: 0;
  visibility: hidden;
  transition: 300ms;
  transform: translateX(200px);
  transition-delay: calc(0.2s * var(--i));
}

.banner__navigation--li-a {
  color: #111;
  font-size: 1.5em;
  letter-spacing: 4px;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #fff;
  padding: 4px 10px;
  display: inline-block;
  transition: 500ms;
}

.banner__navigation--li-a:hover {
  background-color: #111;
  color: #fff;
  letter-spacing: 0.5vw;
  text-transform: lowercase;
  transition: 500ms;
}

.banner__socialM {
  position: fixed;
  bottom: 4vw;
  right: 7vw;
  display: flex;
  z-index: 4;
}

.banner__socialM--li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 5px;
  padding: 0 6px;
  background-color: #fff;
  transition: 500ms;
  transition-delay: calc(0.2s * var(--i));
}

.banner__socialM--li-a {
  color: #111;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1vw;
  text-transform: uppercase;
  transition: 500ms;
}

.banner__socialM--li-a:hover {
  letter-spacing: 3px;
}

.banner__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container__box {
  position: relative;
  width: 75vh;
  height: 40vh;
  margin: 5% auto;
  background: #000;
  transform-style: preserve-3d;
  cursor: pointer;
}

.container__box:hover {
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.2);
}

.container__box:hover .container__box--contentBox {
  transform: translateZ(50px) scaleY(1);
}

.container__box--imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container__box--imgBox-img {
  height: 100%;
  width: 100%;
}

.container__box--contentBox {
  position: absolute;
  top: 50%;
  left: 50px;
  right: 50px;
  background-color: #fff;
  transform: translateZ(20px) scaleY(0);
  padding: 40px 25px;
  transform-origin: top;
  transition: 500ms;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.ligth {
  background-color: #fff;
  color: #111;
  padding: 0 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

/* !!! Responsive !!! */

@media (max-width: 991px) {
  .banner__header {
    padding: 3vw;
  }

  .banner__header--logo {
    font-size: 3vw;
  }

  .banner__header--toggle {
    width: 5vw;
    height: 5vw;
    background-size: 4vw;
  }

  .banner__header--toggle::before {
    right: 6vw;
    font-size: 1.5vw;
  }

  .banner__content--about {
    left: 5vw;
    right: 5vw;
  }

  .banner__content--about-img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .banner__content--about-title {
    font-size: 15vw;
  }

  .banner__content--tour {
    transform: translateX(0) !important;
    top: -5%;
  }

  .banner__content--tour-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner__socialM {
    bottom: 3vw;
    right: 3vw;
  }

  .banner__socialM--li-a {
    font-size: 2vw;
  }

  .banner.about:not(.active) .banner__glass,
  .banner__glass {
    width: 50%;
  }

  .banner__content--home {
    font-size: 18vw;
  }

  .banner__content--about-p,
  .banner__content--home-span {
    font-size: 3vw;
    letter-spacing: 2px;
  }
}

@media (max-width: 550px) {
  body {
    /**/
    max-height: 95vh;
    min-height: 95vh;
    overflow: hidden;
  }

  .banner {
    max-height: 95vh;
    min-height: 95vh;
  }

  .banner.tour:not(.active) {
    overflow-x: hidden;
  }

  .banner__header--logo {
    font-size: 4vw;
  }

  .banner__header--toggle::before {
    font-size: 2vw;
  }

  .banner__content--about-img {
    bottom: 100%;
    height: 50%;
  }

  .banner__content--about-p {
    font-size: 4vw;
  }

  .banner__content--about-title {
    font-size: 18vw;
  }

  /* .container__box--imgBox {
    width: 100%;
    height: 100%;
  }

  .container__box--imgBox-img {
    height: 100%;
    width: 100%;
  } */

  .container__box {
    width: 45vh;
    height: 25vh;
    margin: 40px auto;
  }

  .container__box--contentBox {
    padding: 10px 25px;
  }

  .container__box--contentBox-h2 {
    font-size: 3vh;
  }

  .container__box--contentBox-p {
    font-size: 2vh;
  }

  .banner__socialM--li-a {
    font-size: 3vw;
  }
}

@media (max-width: 340px) {
  .banner__header--logo {
    font-size: 5vw;
  }

  .banner.about:not(.active) .banner__glass,
  .banner__glass {
    width: 55%;
  }

  .banner__header--toggle {
    background-size: 7vw;
    width: 7vw;
    height: 7vw;
  }

  .banner__header--toggle::before {
    right: 10vw;
    font-size: 3vw;
  }

  /* .banner__content--tour {
    transform: translateX(0) !important;
  } */

  .banner__socialM--li-a {
    font-size: 4vw;
  }
}
